#profile-page{
    padding-top: 3.5rem;
}

.title-button{
    display: flex;
    gap: 2rem;
    align-items:center;
}

#profile-page button{
    background-color: #222;
    color: #1DB954;
}

.title h3:hover{ 
    text-decoration: underline;
}