.track-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 97%;
        
    margin-top: 10px;
    margin-right: 1%;
    /* margin-left: 1%; */
  
    background: #111;
    border-radius: .2rem;

    height: 3.5rem;
}

.track-item:hover{
    background: #222;
}
   
.track-description{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track-desc{
    width: 100%;
        
    margin-right: 1%;
    /* margin-left: 1%; */
    /* padding: .5rem; */
    
    /* background: #222; */
    border-radius: .2rem;
}

.track-desc:hover{
    
}

#track-info h4{
    margin-top: 0;
    margin-left: 0;}
  
  #track-info{
    margin-left: 1rem;
    right: 0;
    /* text-align: left; */
}