  .artist-grid-item{
      cursor: pointer;
      width: 95%;
      /* height: 20rem; */
      
      margin-top: 10px;
      margin-right:1%;
      margin-left: 1%;

      background: #222;
      border-radius: .8rem; 
      /* box-shadow: 0 .2rem 1rem rgba(130, 130, 130, 0.64); */

      padding: 0;
      padding-bottom: 1rem;

    
      text-align: center;
  } 
    
    #picture{
      margin-top: 1rem;
      width: 80%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
  }

    .artist-grid-item h4{
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      width:calc(80%);
      text-align: center;
  }
